numpy
streamlit==1.16.0  # Specify a stable version to ensure compatibility
pandas
plotly
matplotlib
geopandas==0.10.2  # Updated version to ensure compatibility with dependencies
folium==0.12.1
streamlit-folium==0.8.0
python-docx==0.8.11
lxml==4.9.3  # Latest compatible version with `python-docx`
GDAL==3.4.3
